.side-menu {
  min-height: 715.333px;
  grid-column: span 2 / span 2;
  position: relative;
  z-index: 50;
}

.posts-grid {
  width: 100%;
  position: relative;
  z-index: 40;
  min-height: 100vh;
  display: grid;
  min-width: 100%;
  gap: 1rem;
}

@media (min-width: 1024px) {
  .posts-grid {
    max-width: 1536px;
    width: 100%;
    display: grid;
    gap: 0 1.25rem;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    min-width: auto;
  }
  .posts-body {
    grid-column: span 7 / span 7;
  }
}

.posts-body {
  min-width: 0px;
}

.right-menu {
  grid-column: span 3 / span 3;
}

.text-overflow-hidden {
  overflow: hidden;
  text-overflow: ellipsis; // adds '...' when text overflows
  white-space: nowrap;
}

.animate-alert {
  animation: animate-alerts 250ms ease;
}

@keyframes animate-alerts {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.writingArea {
  font-size: 1.5rem;
  color: #fff;
  h1 {
    font-size: 2.5rem;
    font-weight: 700;
  }
  h2 {
    font-size: 2.2rem;
    font-weight: 700;
  }
  h3 {
    font-size: 1.8rem;
    font-weight: 700;
  }
  code {
    background: #5b6d8a;
    color: #fff;
    padding: 0.5px 10px;
    border-radius: 7px;
  }
}
